.App {
  text-align: center;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.button-block {
  display: block;
  margin: 40px 20px;
  padding: 0;
}

.btn {
  display: block;
  margin: 0 auto;
  padding: 10px;
  border: none;
  background: #ccc;
}

.number {
  display: inline-block;
  margin: 0 10px;
  padding: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #000;
  border-radius: 50%;
}

.inner-num {
  display: block;
  margin: 10px 0;
  padding: 0 0;
}